* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.font {
    font-family: "Fuzzy Bubbles", sans-serif;
}

header {
    margin: 12px;
    background-image: linear-gradient(25deg, rgb(246, 248, 130) 10% ,#00d1b2 70%, rgb(246, 248, 130));
    height: 150px;
    border-radius: 12px; 
}


#city-history {
    border-top: dotted 3px gray;
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
}

main {
    margin: 20px;
}

#today .uv span {
    padding: 8px;
    color: white;
    border: none;
    border-radius: 4px;
}
.green {
    background-color: rgba(6, 105, 6, 0.8);
}

.orange {
    background-color: rgba(255, 166, 0, 0.5);
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
}

[name=cloudy] {
    background-image: url(../images/cloudy.jpg); 
    color: white;
    background-size: cover;
}

[name=clear] {
    background-image: url(../images/sunny.jpg); 
    background-size: cover;
    color: black;
}


[name=rainy] {
    background-image: url(../images/rainy.jpg);
    color: white;
    background-position: bottom;
    background-size: cover; 
}

[name=stormy] {
    background-image: url(../images/thunderstorm.jpg); 
    color: white;
    background-size: cover;
}

[name=snowy] {
    background-image: url(../images/snowy.jpg);
    background-size: cover; 
    color: black;
}

[name=hazy] {
    background-image: url(../images/hazy.jpg);  
    color: white; 
    background-size: cover;
}

.card-content {
    margin-top: 30px;
}

#future-days {
    margin-right: -12px;
}


.card-header {
    box-shadow: none;
}

.card {
    box-shadow: none;
}


@media screen and (max-width:300px) {
    header {
        margin: 0px;
    }  
}

