* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.font {
    font-family: "Fuzzy Bubbles", sans-serif;
}

header {
    margin: 12px;
    background-image: linear-gradient(25deg, rgb(246, 248, 130) 10% ,#00d1b2 70%, rgb(246, 248, 130));
    height: 150px;
    border-radius: 12px; 
}


#city-history {
    border-top: dotted 3px gray;
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
}

main {
    margin: 20px;
}

#today .uv span {
    padding: 8px;
    opacity: .5;
    color: white;
}
.green {
    background-color: green;
}

.orange {
    background-color: orangered;
}

.red {
    background-color: red;
}

[name=cloudy] {
    background-image: url(../images/cloudy.jpg); 
    color: white;
}

[name=clear] {
    background-image: url(../images/sunny.jpg); 
}


[name=rainy] {
    background-image: url(../images/rainy.jpg); 
    color: white;
}


[name=snowy] {
    background-image: url(../images/snowy.jpg); 
}

[name=hazy] {
    background-image: url(../images/hazy.jpg);  
    color: white; 
}

.card-content {
    margin-top: 30px;
}

#future-days {
    margin-right: -12px;
}


@media screen and (max-width:300px) {
    header {
        margin: 0px;
    }  
}

